.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 21vh;
  margin: 5px;
  padding: 5px;
  background: #ffff;
  border-radius: 15px;
}

.card:active {
  box-shadow: -1px 2px 21px 2px rgba(0, 0, 0, 0.336);
  -webkit-box-shadow: -1px 2px 21px 2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: -1px 2px 21px 2px rgba(0, 0, 0, 0.253);
}

.image {
  max-width: 50%;
  height: 75px;
}

.texts {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 5px;
  overflow: hidden;
}

.card_text {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.card_text_seconday {
  font-size: 14px;
  margin: 0;
}

.container_icons {
  display: flex;
  flex-direction: column;
}

.icons {
  display: none;
}

.card:hover .icons {
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.email {
  margin: 1px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: rgb(58, 26, 163);
}

.email:hover {
  padding: 3px;
  color: rgb(44, 33, 200);
  background: rgb(219, 219, 219);
  border-radius: 15px;
  transition: 0.3s;
}
.email:active {
  padding: 0;
  background: rgb(255, 255, 255);
}
.delete {
  margin: 1px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: rgb(230, 17, 17);
  cursor: pointer;
}

.delete:hover {
  padding: 3px;
  color: rgb(241, 38, 38);
  background: rgb(219, 219, 219);
  border-radius: 15px;
  transition: 0.3s;
}
.delete:active {
  padding: 0;
  background: rgb(255, 255, 255);
}
.edit {
  margin: 1px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: rgb(113, 26, 163);
}

.edit:hover {
  padding: 3px;
  background: rgb(219, 219, 219);
  border-radius: 15px;
  transition: 0.3s;
}
.edit:active {
  padding: 0;
  background: rgb(255, 255, 255);
}

@media screen and (min-width: 769px) {
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    height: 17vh;
    margin: 5px;
    padding: 5px;
    background: #ffff;
    border-radius: 15px;
  }

  .card:hover {
    box-shadow: -1px 2px 21px 2px rgba(0, 0, 0, 0.137);
    -webkit-box-shadow: -1px 2px 21px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 2px 21px 2px rgba(0, 0, 0, 0.109);
  }

  .image {
    border-radius: 5px;
  }

  .texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
  }

  .card_text {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  .card_text_seconday {
    font-size: 16px;
    margin: 0;
  }

  .container_icons {
    display: flex;
    flex-direction: row;
  }
}
