.container {
	background: #e6e6e6;
	height: 100vh;
}

.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffff;
	box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.336);
	-webkit-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.329);
	-moz-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.253);
}
.container_terms {
	padding: 25px;
	margin: 0;
	background: #e6e6e6;
}

.terms {
	background: #ffff;
	padding: 20px;
	height: 100vh;
	border-radius: 20px;
	box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.336);
	-webkit-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.329);
	-moz-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.253);
}

.terms_title {
	margin-bottom: 15px;
}

.terms_author {
	margin-top: 15px;
}

.section {
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}

.terms_instructions {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px;
}


@media screen and (min-width: 769px) {

	.container {
		padding: 100px;
	}

	.terms_instructions {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.terms_paragraph {
		text-align: center;
		width: 50%;
	}
	.section {
		display: flex;
		justify-content: center;
		align-content: center;
	}
	.main {
		height: 75vh;
		border-radius: 15px;
	}
 }