.button_primary {
	border: none;
	text-decoration: none;
	word-wrap: break-word;
	min-width: 120px;
	width: 25%;
	height: 37px;
    line-height: 37px;
	font-size: 16px;
	font-weight: 600;
	background: hsl(218, 100%, 50%);
	color: #ffff;
	text-align: center;
	border-radius: 20px;

}

.button_primary:hover {
	cursor: pointer;
	background: hsla(218, 100%, 50%, 0.795);
}

.button_primary:focus {
	border: 1px solid #0000;
}

.button_primary:disabled {
	cursor: not-allowed;
	background: #ccc;
  }

.button_secondary {
	border: none;
	text-decoration: none;
	word-wrap: break-word;
	min-width: 120px;
	width: 25%;
	height: 37px;
    line-height: 37px;
	background: #e6671e;
	color: #ffff;
	font-weight: 600;
	text-align: center;
	border-radius: 20px;
    margin: 5px;
}

.button_cancel {
	border: none;
	text-decoration: none;
	word-wrap: break-word;
	width: 25%;
	height: 37px;
    line-height: 37px;
	background: #ee0f0f;
	color: rgb(243, 243, 243);
	text-align: center;
	border-radius: 20px;
    margin: 5px;
	cursor: pointer;
}


.button_cancel:hover {
	background: #ee0f0fd2;
	color: rgb(243, 243, 243);
}


.back {
	cursor: pointer;
	display: flex;
	align-items: flex-start;
	justify-content: start;
	border-radius: 50%;
	border: 1px solid black;
	background: #d3d3d3;
	color: red;
}

.back:focus {
	width: 60px;
	height: 60px;
}