.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 21vh;
  margin: 5px;
  padding: 5px;
  background: #ffff;
  border-radius: 15px;
}

.card:active {
  cursor: pointer;
  box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.336);
  -webkit-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.253);
}

.image {
  max-width: 50%;
  height: 75px;
}

.texts {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 5px;
  overflow: hidden;
}

.card_text {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.card_text_seconday {
  font-size: 14px;
  margin: 0;
}

.icons {
  cursor: pointer;
}

.icons:focus .card {
  display: block;
}

@media screen and (min-width: 769px) {
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    height: 17vh;
    margin: 5px;
    padding: 5px;
    background: #ffff;
    border-radius: 15px;
  }

  .card:hover {
    cursor: pointer;
    box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.336);
    -webkit-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.329);
    -moz-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.253);
  }

  .image {
    border-radius: 5px;
  }

  .texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
  }

  .card_text {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  .card_text_seconday {
    font-size: 16px;
    margin: 0;
  }
}
