    .containerApp {
        height: 100vh;
        margin: 0;
        padding: 10px;
        background: #e6e6e6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container_content {
        padding: 10px;
        height: 91vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(236, 236, 236);
    }

    .container_components {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        
    }

    .container_cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            word-wrap: break-word;
            text-align: center;
            margin-bottom: 40px;
            padding-bottom: 45px;
            
    }

@media screen and (min-width: 769px) {

	.containerApp {
		padding: 25px;
	}

	.container_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffff;
        border-end-start-radius: none;
        border-start-end-radius: none;
        box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.336);
        -webkit-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.329);
        -moz-box-shadow: -1px 2px 41px 2px rgba(0, 0, 0, 0.253);
	}
    .container_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        word-wrap: break-word;
        text-align: center;
        margin-top: 70px;
        padding-bottom: 10px;
}
 }