.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_container .is_open {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: absolute;
  background-color: #ffff;
  width: 550px;
  height: 350px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 25px;
  cursor: default;
}

.modal_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 7%;
  height: 9%;
  border: none;
  border-radius: 50%;
  color: white;
  background: rgb(241, 36, 36);
}

.modal_close:hover {
  color: white;
  background: red;
  cursor: pointer;
  font-size: 15px;
}
