.button_terms {
	border: none;
	text-decoration: none;
	word-wrap: break-word;
	width: 25%;
	height: 37px;
    line-height: 37px;
	font-size: 16px;
	font-weight: 600;
	background: hsl(218, 100%, 50%);
	color: #ffff;
	text-align: center;
	border-radius: 20px;
}

.button_terms:hover {
		cursor: pointer;
		background: hsla(218, 100%, 50%, 0.795);
}

.button_terms:focus {
	border: 1px solid #0000;
}


.button_terms:disabled {
	cursor: not-allowed;
	background: #ccc;
  }

.terms_instructions {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.terms_title {
	margin-top: 5px;
}

.section {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 50px;
}

.terms_paragraph {
	text-align: center;
}

.navBarMobileTerms {
	width: 100%;
	height: 9vh;
	background: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-left: none;
	border-right: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: none;
	position: fixed;
	bottom: 0;
}

@media screen and (min-width: 769px) {

	.terms_instructions {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.terms_paragraph {
		text-align: center;
		width: 50%;
	}
	.section {
		display: flex;
		justify-content: center;
		align-content: center;
	}

 }